
//Application Color

$Dark_Theme: #295fa6;
$Medium_Theme:#3B82BF;
$Brown_Dark_Theme:#BF7E45;
$Brown_Light_Theme:#D9A566;
$Contrast_Theme:#F2EEAE;

//Old Color
$Dark_Theme_Old:#28df99;
$Medium_Theme_Old:#31238C;
$Green_Dark_Theme_Old:#03A696;
$Green_Light_Theme_Old:#7DBF73;
$Contrast_Theme_Old:#D9C14A;

//Border Radius

$Border_Application:0.8rem;

//SVG Buttons Background Color

$Background_Color_SVG_Button:hsla(0, 0%, 100%, .3);

// ==================================
// Media queries breakpoints
// ==================================
//

// Extra small screen / phone
$screen-xs-min:                											480px !default;

// Small screen / tablet
$screen-sm-min:                											768px !default;

// Medium screen / desktop
$screen-md-min:                											992px !default;

// Large screen / wide desktop
$screen-lg-min:                											1200px !default;

// Large scree / wider desktop
$screen-lg-med:                     									1260px !default;


$screen-xs-max:             											($screen-sm-min - 1) !default;
$screen-sm-max:                											($screen-md-min - 1) !default;
$screen-md-max:                											($screen-lg-min - 1) !default;
