@import "src/style/Global";

.nav-menu-visibility {
  background-color: $Dark_Theme;
  border-radius: $Border_Application;
  width: 250px;
  height: 60vh;
  display: flex;
  justify-content: center;
  position: fixed;
  left: 500px;
  top: 100%;
  bottom: -100%;
  transition: 850ms;
}

.nav-menu-visibility.active {
  bottom: 100%;
  left: 500px;
  top: 129px;
  transition: 350ms;
}


.nav-menu-items-visibility {
  width: 100%;
  list-style: none;
  color: white;
  padding: 0;
  h6{
    margin-top: 1rem;
    text-align: center;
  }


  .container-type-visibility {
    display: flex;
    flex-direction: column;
    align-items: center;

    article {
      width: 100%;
      padding: 1rem;
      justify-content: center;

      p {
        color: $Contrast_Theme

      }
    }
  }

  span {
    margin-left: 1rem;
  }

}

.nav-text-visibility {
  height: 60px;

  a {
    text-decoration: none;
    color: $Contrast_Theme;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
  }

  a:hover {
    background-color: $Medium_Theme;

  }
}
