@import "src/style/Global";


.secondNav {
  background-color: hsla(208, 53%, 49%, .3);

  .header-button {
    border: 0;
    background-color: hsla(0, 0%, 100%, .3);
    margin: 0.5rem 0.25rem;
    padding: unset;
    cursor: pointer;


    svg {
      width: 8rem;
      height: 2rem;

      image {
        width: 1.5rem;
        height: 1.5rem;

      }

      text {
        font-size: 1rem;
      }


    }

  }

  .header-button:hover {
    background-color: $Contrast_Theme;

  }


}

.containerTodo {
  display: flex;
  margin: 2rem 2rem;
  align-items: center;
  text-align: center;

  .firstAddTodo {
    background: aliceblue;


    span {
      margin: 0 0.5rem;
    }

    svg {
      width: 1.5rem;
      height: 1.5rem;
    }


  }

  .inputTodo {
    display: flex;
    background: aliceblue;

    a {
      margin: 0 1rem;
      padding: 0;

      svg {
        color: $Dark_Theme;
        width: 1.5rem;
        height: 1.5rem;
      }
    }



  }

  .inputAddTodo {
    border: transparent;
    background: transparent;
    text-align: center;
  }

}

